.input {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
  & .label {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
  }
  & .input-box {
    width: 345px;
    height: 45px;
    border-radius: 5px;
    border: none;
    padding: 15px 15px;
    box-sizing: border-box;
    outline: none;
  }
  .error {
    color: #ffa503;
    font-size: 13px;
    font-weight: 600;
  }
  .input-error {
    border: 1px solid red;
  }
  .errorBar {
    background-color: red;
    position: absolute;
    height: 40px;
    width: 5px;
    top: 29px;
    right: 4px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
