@import "../../styles/scss/color.module";
.button {
  color: white;
  height: 45px;
  font-size: 15px;
  font-weight: 600;
}
.primary {
  background-color: $red;
}
.secondary {
  background-color: $secondary-color;
}
// borders
.border-solid {
  border: 0px solid;
}
.border-round {
  border: 0px solid;
  border-radius: 5px;
}
// sizes
/* Small buttons */
.button-xs {
  width: 160px;
}
.button-s {
  width: 180px;
}
/* Medium buttons */
.button-m {
  width: 210px;
}
.button-l {
  width: 240px;
}
.button-xl {
  width: 245px;
}
.button-xxl {
  width: 345px;
}
.button-xxxl {
  width: 350px;
}
/* Large buttons */
.button-full {
  width: 420px;
}
