@import '../../styles/scss/index.module.scss';

.list {
  list-style-type: none;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 45px;
}
.link {
  line-height: 2;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.1em;
  color: $white;
}
.active-link {
  line-height: 2;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.1em;
  color: $white;
  div {
    position: absolute;
    left: 0;
    width: 16px;
    height: 38px;  
    background-color: $red;
  }
}
