.app-details {
  h1 {
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
  p{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  ul {
    list-style: none;
    li {
        font-size: 15px;
        font-weight: 300;
        margin-bottom: 10px;
    }
  }
}
