.tabs {
  border: none;
  display: block;
  margin: 20px;
  width: 90%;
  height: 40px;
  text-align: start;
  padding-left: 15px;
  background-color: #ffffff;
  position: relative;
  span {
    position: absolute;
    right: 20px;
  }
}
.active-tab {
  background-color: #f6d78b;
}
.inactive-tab {
  background-color: #ffffff;
}
