.contents {
  display: flex;
  width: 100%;
  padding: 30px;
}
.tabs {
  width: 30%;
  padding: 30px;
  background-color: #f8f8f8;
  h1 {
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 30px;
  }
}
