.logout {
  background-color: #1a1a1a;
  color: #ffffff;
  width: 100%;
  padding: 15px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 10px;
}
