.toastMessage {
  background-color: #ffa503;
  width: 100%;
  height: 45px;
  padding: 15px 30px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 700;
}
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 26px;
  & .error {
    color: red;
  }
}

.passwordRecovery {
  color: #fff;
  align-self: flex-start;
  font-size: 12px;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}
