$primary-font: "OpenSans-Regular";
$secondary-font: "OpenSans-Bold";

$fonts: (
  "OpenSans-Regular",
  "OpenSans-Bold",
  "OpenSans-Light",
  "OpenSans-BoldItalic",
  "OpenSans-ExtraBold",
  "OpenSans-ExtraBoldItalic",
  "OpenSans-Italic",
  "OpenSans-Light"
);

@each $font in $fonts {
  @font-face {
    font-family: #{$font};
    src: url("../../fonts/open-sans/#{$font}.ttf") format("truetype");
  }
}
