@import '../../styles/scss/index.module.scss';
.side-bar {
  min-height: 100vh;
  width: 14%;
  background-color: $black;
  @include flex($direction:column,$wrap:wrap,$justifyContent:space-between);
  > .nav-items {
    @include flex($direction:column,$wrap:wrap,$gap:80px);
    margin-top: 50px;
  }
}
